@using ePunkt.Utilities
@model ePunkt.IssueTracker.ViewModels.Issues.IndexIssuePartialViewModel
<td style="white-space: nowrap; text-align: center;">
    <span class="label label-warning">
        @Model.Comments.ToString("N0")
    </span>
    <span class="label label-primary" style="margin-left:1px;">
        @Model.Time
    </span><br />
    <span class="label label-default">
        @Model.Status
    </span>
</td>
<td style="white-space: nowrap;">
    @if (Model.AssignedTo.HasValue())
    {
        <span class="@(Model.CurrentUser != null && (Model.AssignedTo.Is(Model.CurrentUser.Name) || Model.AssignedTo.Is(Model.CurrentUser.Username)) ? "label label-success" : "label label-info")">
            @Model.AssignedTo
        </span>
    }
</td>
<td style="white-space: nowrap;">
    @if (Model.Creator.HasValue())
    {
        <span class="label" style="color:#ccc; font-weight: normal;">
            @((Model.Creator ?? "").MaxLen(18, " ..."))
        </span>
    }
</td>
<td>
    <pre style="margin:0; cursor:pointer;" onclick="window.location='@Url.Action("Index", "Issue", new { id = Model.Id })';">@(Model.Text.IsNoE() ? "< no text >" : Model.Text.MaxLen(200, "[...]") )</pre>
</td>
@if (Model.CurrentUser != null)
{
    <td style="text-align: right;">
        @Html.CheckBox("issue" + Model.Id)
    </td>
}