@using System.Globalization
@model ePunkt.IssueTracker.ViewModels.Issues.IndexViewModel

@if (Model.Issues.Any())
{
    <text>
        @using (Html.BeginForm("Update", "Issues", FormMethod.Post))
        {
            <text>
                @Html.AntiForgeryToken()

                <input type="hidden" id="status" name="status" />
                <input type="hidden" id="user" name="user" />

                <div class="navbar navbar-inverse navbar-fixed-bottom" id="editIssue" style="display: none;">
                    <div class="container">
                        <button type="submit" name="Delete" class="btn btn-danger navbar-btn pull-right">Delete selected issues</button>

                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="newStatus">New status</span> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @foreach (var status in Model.AvailableStati)
                                    {
                                        <li><a href="javascript:selectStatus('@status.Text', '@status.Value');">@status.Text</a></li>
                                    }
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="newUser">New assignee</span> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    @foreach (var user in Model.AvailableUsers)
                                    {
                                        <li><a href="javascript:selectUser('@user.Text', '@user.Value');">@user.Text</a></li>
                                    }
                                </ul>
                            </li>
                            <li>
                                <button type="submit" name="Save" class="btn btn-success navbar-btn">Save selected issues</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <table class="table table-condensed">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>
                            Issue
                            @if (Model.CountTotal != Model.CountFiltered)
                            {
                                <text>
                                    (Filtered: <span style="text-decoration: line-through;">@Model.CountTotal</span> |
                                    @if (@Model.CountFiltered != @Model.CountFilteredIncludingTags)
                                    {<text><span style="text-decoration: line-through;">@Model.CountFiltered</span> | @Model.CountFilteredIncludingTags</text>}
                                    else
                                    {<text>@Model.CountFiltered</text>})
                                </text>
                            }
                            else if (Model.CountTotal != Model.CountFilteredIncludingTags)
                            {<text>(Filtered: <span style="text-decoration: line-through;">@Model.CountTotal</span> | @Model.CountFilteredIncludingTags)</text>   
                            }
                            else
                            {<text>(Model.CountTotal)</text>}
                        </th>
                        <th></th>
                        <th><input type="checkbox" id="checkAll" /></th>
                    </tr>

                    @foreach (var issue in Model.Issues)
                    {
                        <tr id="@("issue" + issue.Id)">
                            @Html.Partial("_Issue", issue)
                        </tr>
                    }
                </table>

            </text>
        }

        <ul class="pagination">
            @for (var i = 1; i < Model.MaxPage; i++)
            {
                <li class="@( (Model.Page == i ? "active" : ""))">@Html.ActionLink(i.ToString(CultureInfo.CurrentCulture), "Index", "Issues", new { page = i }, null)</li>
            }
        </ul>
    </text>
}
else
{
    <p class="alert">No matching issues found.</p>
}

@Html.Action("TagFilter", "Shared")

@section Script {
    <script>
        $(document).ready(function () {
            $("#checkAll").click(function () {
                if ($(this).prop("checked"))
                    $(":checkbox").prop("checked", true);
                else
                    $(":checkbox").prop("checked", false);
            });

            $(":checkbox").click(function () {
                if ($(":checkbox:checked").length > 0)
                    $("#editIssue").show();
                else
                    $("#editIssue").hide();
            });

            $(".tag").click(function () {
                $(this).toggleClass("tag-filtered");
                $(".submitTagFilterButton").show();

                var tags = "";
                $.each($(".tag"), function (i, elem) {
                    if (!$(elem).hasClass("tag-filtered"))
                        tags += "," + $(elem).data("tag");
                });

                if (tags == "" || $(".tag-filtered").length <= 0)
                    tags = "-";
                $("#tags").val(tags);
            });

            $(".submitTagFilterButton").click(function () {
                $(this).closest("form").submit();
            });

            $(".clearTagFilterButton").click(function () {
                $("#tags").val("-");
                $(this).closest("form").submit();
            });
        });

        function selectStatus(newStatusText, newStatusValue) {
            $("#newStatus").html(newStatusText);
            $("#status").val(newStatusValue);
        }

        function selectUser(newUserText, newUserValue) {
            $("#newUser").html(newUserText);
            $("#user").val(newUserValue);
        }
    </script>
}
