@model IssueTracker.Web.ViewModels.Shared.HeaderViewModel

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="~/">IssueTracker</a>
        </div>
        <div class="collapse navbar-collapse">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Options", "Issues", new { order = "comments" })">Comments</a></li>
                            <li><a href="@Url.Action("Options", "Issues", new { order = "-" })">Date</a></li>
                            <li><a href="@Url.Action("Options", "Issues", new { order = "status" })">Status</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Status <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var status in Model.AvailableStati)
                            {
                                <li><a href="@Url.Action("Options", "Issues", new { status = status.Value })">@status.Text</a></li>
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assignee <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            @foreach (var user in Model.AvailableUsers)
                            {
                                <li><a href="@Url.Action("Options", "Issues", new { user = user.Value })">@user.Text</a></li>
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Date <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Options", "Issues", new { date = "-" })">< All ></a></li>
                            <li><a href="@Url.Action("Options", "Issues", new { date = 7 })">Last week</a></li>
                            <li><a href="@Url.Action("Options", "Issues", new { date = 30 })">Last month</a></li>
                            <li><a href="@Url.Action("Options", "Issues", new { date = 120 })">Last quarter</a></li>
                            <li><a href="@Url.Action("Options", "Issues", new { date = 365 })">Last year</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@User.Identity.Name <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Logoff", "Account")">Log off</a></li>
                        </ul>
                    </li>
                </ul>
            }
        </div>
    </div>
</div>



