@using IssueTracker.Web.Code
@model IssueTracker.Web.Models.ViewModels.Issue.IndexIssuePartialViewModel
<td style="white-space: nowrap;">
    <span class="label label-primary">
        @Model.Time
    </span>
</td>
<td style="white-space: nowrap;">
    <span class="label label-warning">
        @Model.Comments.ToString("N0")
    </span>
</td>
<td style="white-space: nowrap;">
    <span class="label label-default">
        @Model.Status
    </span>
</td>
<td style="white-space: nowrap;">
    @if(!string.IsNullOrWhiteSpace(Model.AssignedTo)) {
        <span class="@(Model.CurrentUser != null && (Model.AssignedTo.Is(Model.CurrentUser.Name) || Model.AssignedTo.Is(Model.CurrentUser.Username)) ? "label label-default" : "label label-success")">
            @Model.AssignedTo
        </span>
    }
</td>
<td style="white-space: nowrap;">
    <span class="label label-info">
        @(Model.Creator ?? "")
    </span>
</td>
<td>
    <pre style="margin:0; cursor:pointer;" onclick=" window.location = '@Url.Action("Details", "Issue", new { id = Model.Id })';">@(string.IsNullOrWhiteSpace(Model.Text) ? "< no text >" : Model.Text)</pre>
</td>
@if (Model.CurrentUser != null) { 
    <td style="text-align: right;">
        @Html.CheckBox("issue" + Model.Id)
    </td>
}