@using System.Globalization
@using ePunkt.Utilities
@model ePunkt.IssueTracker.ViewModels.Issue.IndexViewModel

<div class="navbar navbar-inverse navbar-fixed-bottom" id="editIssue">
    <div class="container">
        @using (Html.BeginForm("Delete", "Issue", new { id = Model.Id }))
        {
            <text>
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger navbar-btn pull-right" style="margin-left: 8px;">Delete issue</button>
            </text>
        }

        <button type="submit" name="Save" class="btn btn-primary navbar-btn pull-right" data-toggle="modal" data-target="#textModal">Add a comment / send notification</button>

        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="newStatus">Set new status</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @foreach (var status in Model.AvailableStati)
                    {
                        <li><a href="@Url.Action("Update", new { id = Model.Id, status = status.Value })">@status.Text</a></li>
                    }
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span id="newUser">Set new assignee</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    @foreach (var user in Model.AvailableUsers)
                    {
                        <li><a href="@Url.Action("Update", new { id = Model.Id, user = @user.Value })">@user.Text</a></li>
                    }
                </ul>
            </li>
        </ul>
    </div>
</div>

<p>
    This Issue was created on <code>@Model.DateOfCreation.ToString(CultureInfo.CurrentCulture)</code>
    @if (Model.Creator.HasValue())
    {<text> by <code>@Model.Creator</code></text>}
    @if (Model.RemoteHost.HasValue())
    {<text> at <code>@Model.RemoteHost</code></text>}.
</p>

@if (Model.SimilarIssuesCount > 0)
{
    <p>There are <code>@Model.SimilarIssuesCount.ToString("N0")</code> similar issues.</p>
}

@if (Model.ParentIssueId.HasValue)
{
    <p>This issue has a @Html.ActionLink("parent", "Index", new { id = Model.ParentIssueId.Value }).</p>
}

@if (Model.MinVersion.HasValue())
{
    <text>
        @if (Model.MaxVersion.IsNoE())
        {
            <p>This issue happened in <code>v@(Model.MinVersion)</code>.</p>
        }
        else
        {
            <p>This issue happend from <code>v@(Model.MinVersion)</code> to <code>v@(Model.MaxVersion)</code></p>
        }
    </text>
}

<fieldset>
    <legend>Text</legend>
    <pre>@Model.Text</pre>
</fieldset>
<fieldset>
    <legend>Stack trace</legend>
    <pre>@Model.StackTrace.Trim()</pre>
</fieldset>
<fieldset>
    <legend>Server variables</legend>
    <pre>@Model.ServerVariables.Trim()</pre>
</fieldset>
<fieldset>
    <legend>Comments & Activities</legend>
    <p>
        Issue created on <code>@Model.DateOfCreation.ToString(CultureInfo.CurrentCulture)</code> by <code>@Model.Creator</code>.
    </p>
    <table class="table table-condensed">
        @foreach (var comment in Model.Comments)
        {
            <tr>
                @Html.Partial("_Comment", comment)
            </tr>
        }
    </table>
</fieldset>

@Html.Partial("_AddComment")

@section Script {
    <script>
        $("select").change(function () {
            $("form").submit();
        });
    </script>
}