@model IssueTracker.Models.Issue
@section Content {
    <form method="post" action="@Url.Action("AddComment", "Issue", new { id = Model.Id })" class="well">
    <label>Status:</label>
    <select name="status">
        @foreach (string status in (ViewData["availableStati"] as IEnumerable<string>)) {
            <option value="@status" @(status.Equals(Model.Status, StringComparison.InvariantCultureIgnoreCase) ? " selected=\"selected\"" : "")>
                @status</option>
        }
    </select>

    <label>Comment:</label>
    @Html.TextArea("comment")

    <label>Notification to:</label>
    @Html.TextBox("email")

    <button type="submit" value="Save" class="btn btn-primary">Save</button>

    </form>
}
@section Script {
    <script type="text/javascript">
        $("#email").keyup(function () {
            $("#public").attr("checked", $("#email").val() == "" ? "" : "checked");
        });
    </script>

}
