@model IssueTracker.ViewModels.Issue.DetailsIssuePartialViewModel
@section Content {
    @if (Model.CurrentUser != null) {
        <text>
        @using (Html.BeginForm("Update", "Issue", new { id = Model.Id }, FormMethod.Post, new { @class = "well" })) {
            <text>
            @Html.DropDownList("status", Model.AvailableStati)
            @Html.DropDownList("assignedTo", Model.AvailableUsers)
            <button class="btn btn-success" type="button"  onclick="location='@Url.Action("AddComment", "Issue", new { id = Model.Id })';">Add a comment</button>
            <button class="btn btn-danger" type="button"  onclick="location='@Url.Action("Delete", "Issue", new { id = Model.Id })';">Delete</button>
            </text>
        }
        </text>    
    }

    <div style="float: right; width: 30%; margin-left: 30px;">
        <div>
            <span class="label label-warning">Issue created on 
                    @Model.DateOfCreation.ToString() by 
                        @Model.Creator
            </span>
            @if (Model.ParentIssueId.HasValue) {
                <span class="label label-warning">This issue has a
                @Html.ActionLink("parent", "Details", new { id = Model.ParentIssueId.Value }).
                </span>
            }
        </div>
        <fieldset>
            <legend>Comments</legend>
            @{var count = 0;}
            @foreach (var comment in Model.Comments) {
                <div class="@("comment" + (count++ % 2 == 0 ? "" : " alternating"))">
                    @Html.Partial("Comment", comment)
                </div>
            }
        </fieldset>
    </div>
    <fieldset>
        <legend>Text</legend>
        <pre>@Model.Text</pre>
    </fieldset>
    <fieldset>
        <legend>Stack trace</legend>
        <pre>@Model.StackTrace.Trim()</pre>
    </fieldset>
    <fieldset>
        <legend>Server variables</legend>
        <pre>@Model.ServerVariables.Trim()</pre>
    </fieldset>
}
@section Script {
    <script>
        $("select").change(function () {
            $("form").submit();
        });
    </script>
}
