@using System.Globalization
@model IssueTracker.Web.Models.ViewModels.Issue.IndexViewModel
@section Content {

    @Html.Partial("Filter")

    @if (Model.Total > 0)
    { 
        <text>

        @using (Html.BeginForm("Update", "Issue", FormMethod.Post, new { @class = "form-inline" }))
        {
            <text>

            @if (Model.CurrentUser != null)
            {
                <div style="text-align: right; margin: 3px 5px 3px 0;">

                    @Html.DropDownList("status", Model.AvailableStati)
                    @Html.DropDownList("assignedTo", Model.AvailableUsers)
                    <button type="submit" name="Save" value="Save" class="btn btn-success">Save</button>
                    <button type="submit" name="Delete" value="Delete" class="btn btn-danger">Delete</button>
                    <input type="checkbox" id="checkAll" />
                </div>
            }
            <table class="table table-condensed">
                <tr>
                    <th>Time</th>
                    <th>#</th>
                    <th>Status</th>
                    <th>Assigned&nbsp;to</th>
                    <th>Creator</th>
                    <th>Subject</th>
                    <th></th>
                </tr>

                @foreach (var issue in Model.Issues)
                { 
                    <tr id="@("issue" + issue.Id)">
                        @Html.Partial("Issue", issue)
                    </tr>
                }
            </table>
            </text>
        }

        <span class="label label-warning">@(Model.Start.ToString("N0") + " - " + Model.End.ToString("N0") + " of " + Model.Total.ToString("N0"))</span>

        <ul class="pagination">
            @for (var i = 1; i < Model.MaxPage; i++)
            {          
                <li class="@( (Model.Page == i ? "active" : ""))">@Html.ActionLink(i.ToString(CultureInfo.CurrentCulture), "Index", "Issue", new { page = i }, null)</li>
            }
        </ul>
        </text>
    }
    else
    {
        <div class="alert">No matching issues found.</div>
    }
}

@section Script {
    <script>
        $("#checkAll").click(function () {
            if ($(this).prop("checked"))
                $(":checkbox").prop("checked", true);
            else
                $(":checkbox").prop("checked", false);
        });
    </script>
}
